{% extends "base.html" %}
<!-- Extends template tag tells Django to inherit from base.html template,
    Then, we simply fill the contents blocks of base template with content
-->

{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for event in event_list %}
            <!-- Note that we can use a for loop to iterate through each event and display!-->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ event.title }}</h2>
                    <p class="card-text text-muted h6">{{ event.event_type }} | {{ event.event_date_time }} </p>
                    <p class="card-text">{{event.desc|slice:":200" }}</p>
                    <a href="{% url 'event_detail' event.slug  %}" class="btn btn-primary">View Event &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Re insert sidebar block if needed-->
    </div>
</div>
{%endblock%}

