{% extends '_base.html' %}


{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Update Event </h3>
                </div>
            </div>
        </div>
    </div>
</header>
</br>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post Event</button>
</form>
{% endblock %}